<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <a href="/new">Add new item.</a>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Buy Price (Bells)</th>
          <th>Sell Price (Bells)</th>
          <th>Theme 1</th>
          <th>Theme 2</th>
          <th>Source 1</th>
          <th>Source 2</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < items.length; i++) { %>
        <tr>
          <td><%= items[i].name %></td>
          <td><%= items[i].buyprice %></td>
          <td><%= items[i].sellprice %></td>
          <td><%= items[i].theme1 %></td>
          <td><%= items[i].theme2 %></td>
          <td><%= items[i].source1 %></td>
          <td><%= items[i].source2 %></td>
          <td><a href="/update/<%= items[i].id %>">Update</a></td>
          <td><a href="/delete">Delete</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </main>
</body>

</html>